autoencoder_110_1000_500_35.pth
AutoEncoder/test_bucketfs.py
autoencoder_110_1000_500_35_gold.pth
AutoEncoder/allinone.py
AutoEncoder/main_.py
test_encoder.pkl
test_scaler.pkl
autoencoder_1000_500_35_encoder.pkl
.gitignore
autoencoder_1000_500_35_scaler.pkl
autoencoder_1000_500_35.pth
*.pyc
