AutoCleanse @ git+https://github.com/tungsontran/AutoCleanse.git@main#egg=AutoCleanse
exasol-bucketfs-utils-python @ git+https://github.com/exasol/bucketfs-utils-python.git@main#egg=exasol-bucketfs-utils-python
exasol-transformers-extension @ git+https://github.com/exasol/transformers-extension.git@experiment_pytorch_1_9#egg=exasol-transformers-extension
setuptools==68.2.2
datasets==2.16.1
transformers==4.37.0
exasol-bucketfs==0.8.0
torch
torchsummary==1.5.1
cudatoolkit==11.8.0
scikit-learn==1.0.2
scipy==1.12.0

